<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/bootstrap.css}" />
</head>
<body>

	<div class="container">

		<h2 class="text-center m-2">Update User</h2>

		<form action="#" th:action="@{/saveUpdate}" th:object="${user}"
			method="POST">
			
			<input type="hidden" th:field="*{id}">

			<div class="form-group">
				<label>First Name</label> <input type="text" th:field="*{firstName}"
					class="form-control" th:placeholder="${user.firstName}">
			</div>
			<div class="form-group">
				<label>Last Name</label> <input type="text" th:field="*{lastName}"
					class="form-control" th:placeholder="${user.lastName}">
			</div>

			<button type="submit" class="btn btn-info">Update User</button>
			
			<br>
			
			<a th:href="@{/users}">Back to Users List</a>

		</form>

	</div>

</body>
</html>